<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Khamaiv INC.</title>
</head>
<div>
    <a class="grp-padding-vertical-m-list-container"></a>
    <h1>Это тестовая запись</h1>
    <h4>Это описание к тестовой записи</h4>
    <a class="button" href="https://www.youtube.com/">link<p><em>А это ссылка куда-либо</em></p></a>
</div>

<div>
    <a class="grp-horizontal-list-container"></a>
    <h1>Тестовый контейнер</h1>
    <h4>Описание для чего-либо</h4>
    <a class="grp-form-button-border-radius" href="https://www.mail.ru"><p>Кнопка какая-то</p></a>
</div>

<body>

</body>
</html>